/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** IMPORTS **/
@import url(http://fonts.googleapis.com/css?family=Satisfy|Kite+One);
/** VAS **/
/** VARS **/
/** COLORS **/
/** COLORS **/
/** HEADER VARS **/
/** HEADER VARS **/
/** PLACEHOLDERS **/
/** MIXIN **/
/** STYLES **/
/** GENERAL **/
body {
  font-family: 'Kite One', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

header, footer {
  color: #FFFFFF;
}

#main {
  color: #151515;
}

/** BACKGROUNDS **/
.bg-secondary-color-light {
  background-color: #FFC846;
}

.separator-line {
  background-color: #FF8000;
  height: 2px;
}

header .separator-line {
  margin-top: 5px;
}

footer .separator-line {
  margin-bottom: 5px;
}

/** BACKGROUNDS **/
/** OTHERS **/
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/** OTHERS **/
/** HEADER **/
header {
  background-color: #151515;
  padding: 0;
}
header .row {
  padding: 10px 0;
}
header #photo-background {
  position: relative;
  background-color: #151515;
  background-image: url("http://my_xampp/borjazanon/images/main.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 50% 50%;
  width: 100%;
  height: 550px;
}
@media (max-width: 1050px) {
  header #photo-background {
    background-size: auto 100%;
    background-position: 83% 50%;
    background-color: #000000;
  }
}
header #photo-background::after {
  content: '\A';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  z-index: 1;
}
header #photo-background.show-it::after {
  opacity: 0.3;
  -moz-transition: opacity 4s ease-in-out;
  -o-transition: opacity 4s ease-in-out;
  -webkit-transition: opacity 4s ease-in-out;
  transition: opacity 4s ease-in-out;
}
header #photo-background #main-nav-title {
  position: relative;
  z-index: 2;
}
header #photo-background #main-nav-title .title-banner {
  margin-top: 20px;
  font-family: 'Satisfy', cursive;
}
header #photo-background #main-nav-title .title-banner div.main-title {
  text-align: center;
  font-size: 50px;
}
@media only screen and (min-width: 500px) and (max-width: 780px) {
  header #photo-background #main-nav-title .title-banner div.main-title {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  header #photo-background #main-nav-title .title-banner div.main-title {
    font-size: 28px;
  }
}
header #photo-background #main-nav-title .title-banner div.main-title div.subtitle {
  font-size: 25px;
}
@media only screen and (min-width: 500px) and (max-width: 780px) {
  header #photo-background #main-nav-title .title-banner div.main-title div.subtitle {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  header #photo-background #main-nav-title .title-banner div.main-title div.subtitle {
    font-size: 16px;
  }
}
header #nav-container {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #151515;
}
header #nav-container > div {
  position: relative;
  background-color: #151515;
}
@media (max-width: 768px) {
  header #nav-container > div {
    position: absolute;
    width: 100%;
  }
}
header #nav-container > div.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
header #nav-container .navbar {
  margin: 0;
  min-height: auto;
}
header #nav-container .navbar.navbar-default {
  border: none;
  background-color: #151515;
}
header #nav-container .navbar .navbar-header {
  text-align: center;
}
header #nav-container .navbar .navbar-header .navbar-toggle {
  float: none;
}
header #nav-container .navbar .navbar-header .navbar-toggle:focus {
  background-color: #151515;
}
header #nav-container .navbar .navbar-header .navbar-toggle:hover, header #nav-container .navbar .navbar-header .navbar-toggle.pushed {
  background-color: #151515;
  border-color: #FF8000;
}
header #nav-container .navbar .navbar-header .navbar-toggle:hover span, header #nav-container .navbar .navbar-header .navbar-toggle.pushed span {
  color: #FF8000;
  background-color: #FF8000;
}
header #nav-container .navbar .nav-list {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list {
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    max-height: 34px;
    overflow: hidden;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.mobile-menu-displayed {
    max-height: 170px;
    -moz-transition: max-height 1s ease-in-out;
    -o-transition: max-height 1s ease-in-out;
    -webkit-transition: max-height 1s ease-in-out;
    transition: max-height 1s ease-in-out;
  }
}
header #nav-container .navbar .nav-list li {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
  -webkit-flex-basis: 50px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50px;
  width: auto;
  height: auto;
  padding: 6px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}
header #nav-container .navbar .nav-list li:hover {
  color: #FF8000;
  cursor: pointer;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list li {
    position: relative;
    float: left;
    width: 100%;
    height: 34px;
  }
  header #nav-container .navbar .nav-list li:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #FF8000;
    -moz-transition: width 750ms ease-in-out;
    -o-transition: width 750ms ease-in-out;
    -webkit-transition: width 750ms ease-in-out;
    transition: width 750ms ease-in-out;
  }
}
header #nav-container .navbar .nav-list.navbar-collapse.collapse.in li {
  position: relative;
  float: left;
  width: 100;
}
header #nav-container .navbar .nav-list .bottom-highlighting-nav {
  position: absolute;
  bottom: 0;
  width: calc((100% - 30px) / 5);
  height: 2px;
  background-color: #FF8000;
  -moz-transition: left 1500ms ease-in-out;
  -o-transition: left 1500ms ease-in-out;
  -webkit-transition: left 1500ms ease-in-out;
  transition: left 1500ms ease-in-out;
  left: leftSelectionNav(0);
  opacity: 0;
}
header #nav-container .navbar .nav-list.active_1 .bottom-highlighting-nav {
  left: calc(15px + (((100% - 30px) / 5) * 0) );
  opacity: 1;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list.active_1 li {
    top: calc(-34px * 0);
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_1.mobile-menu-displayed li {
    top: 0;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_1 li:nth-of-type(1):after {
    width: 100%;
    -moz-transition: width 750ms ease-in-out 750ms;
    -o-transition: width 750ms ease-in-out 750ms;
    -webkit-transition: width 750ms ease-in-out;
    -webkit-transition-delay: 750ms;
    transition: width 750ms ease-in-out 750ms;
  }
}
header #nav-container .navbar .nav-list.active_2 .bottom-highlighting-nav {
  left: calc(15px + (((100% - 30px) / 5) * 1) );
  opacity: 1;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list.active_2 li {
    top: calc(-34px * 1);
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_2.mobile-menu-displayed li {
    top: 0;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_2 li:nth-of-type(2):after {
    width: 100%;
    -moz-transition: width 750ms ease-in-out 750ms;
    -o-transition: width 750ms ease-in-out 750ms;
    -webkit-transition: width 750ms ease-in-out;
    -webkit-transition-delay: 750ms;
    transition: width 750ms ease-in-out 750ms;
  }
}
header #nav-container .navbar .nav-list.active_3 .bottom-highlighting-nav {
  left: calc(15px + (((100% - 30px) / 5) * 2) );
  opacity: 1;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list.active_3 li {
    top: calc(-34px * 2);
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_3.mobile-menu-displayed li {
    top: 0;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_3 li:nth-of-type(3):after {
    width: 100%;
    -moz-transition: width 750ms ease-in-out 750ms;
    -o-transition: width 750ms ease-in-out 750ms;
    -webkit-transition: width 750ms ease-in-out;
    -webkit-transition-delay: 750ms;
    transition: width 750ms ease-in-out 750ms;
  }
}
header #nav-container .navbar .nav-list.active_4 .bottom-highlighting-nav {
  left: calc(15px + (((100% - 30px) / 5) * 3) );
  opacity: 1;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list.active_4 li {
    top: calc(-34px * 3);
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_4.mobile-menu-displayed li {
    top: 0;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_4 li:nth-of-type(4):after {
    width: 100%;
    -moz-transition: width 750ms ease-in-out 750ms;
    -o-transition: width 750ms ease-in-out 750ms;
    -webkit-transition: width 750ms ease-in-out;
    -webkit-transition-delay: 750ms;
    transition: width 750ms ease-in-out 750ms;
  }
}
header #nav-container .navbar .nav-list.active_5 .bottom-highlighting-nav {
  left: calc(15px + (((100% - 30px) / 5) * 4) );
  opacity: 1;
}
@media (max-width: 768px) {
  header #nav-container .navbar .nav-list.active_5 li {
    top: calc(-34px * 4);
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_5.mobile-menu-displayed li {
    top: 0;
    -moz-transition: top 1s ease-in-out;
    -o-transition: top 1s ease-in-out;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
  }
  header #nav-container .navbar .nav-list.active_5 li:nth-of-type(5):after {
    width: 100%;
    -moz-transition: width 750ms ease-in-out 750ms;
    -o-transition: width 750ms ease-in-out 750ms;
    -webkit-transition: width 750ms ease-in-out;
    -webkit-transition-delay: 750ms;
    transition: width 750ms ease-in-out 750ms;
  }
}

/** MAIN **/
section#main .section-title {
  height: auto;
  padding: 40px 0;
  background-color: #000000;
}
section#main .section-title h2 {
  font-size: 40px;
  color: #FDE3A7;
}
section#main .section {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #FDE3A7;
}

/** FOOTER **/
footer {
  background-color: #151515;
  padding: 4px 0;
  height: 200px;
}
footer #body-footer {
  margin-top: 20px;
}
