<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Borja Zanón - Director y clarinetista</title>
        <meta name="description" content="Description" />
        <meta name="keywords" content="Keywords" />
        <meta name="author" content="Christian Garcia"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- CSS -->

        <!-- JS -->
        
        <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

        <script type="text/javascript" src="assets/js/app.js"></script>

        <script type="text/javascript" src="app/shared/nav/menu-nav-directive.js"></script>
        <script type="text/javascript" src="app/shared/header/resizable-photo-directive.js"></script>
        <!-- JS -->
    
        <link rel="shortcut icon" href="favicon.png" type="image/png" />
    </head>
    
    <body ng-app="webBorja">
        <header id="home">
            <div id="photo-background" resizable-photo>
                <div id="main-nav-title" class="container">
                    <div class="title-banner pull-left">
                        <div class="main-title">
                            <span>Borja Zanón</span>
                            <div class="subtitle">- director y clarinetista -</div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="nav-container">
                <div menu-nav>
                    <div class="container">
                        <div class="row">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header col-xs-3 col-sm-2 visible-xs visible-sm">
                                    <button type="button" class="navbar-toggle collapsed no-margin pull-left" ng-click="toggleMobileMenu()">
                                        <span class="sr-only">Menu</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="main-navbar" class="col-xs-9 col-sm-12">
                                    <ul class="nav-list" ng-class="{'active_1': isPositionSelected(1), 'active_2': isPositionSelected(2), 'active_3': isPositionSelected(3),'active_4': isPositionSelected(4), 'active_5': isPositionSelected(5)}">
                                        <li ng-click="clickOptionOnNav(1)">Home</li>
                                        <li ng-click="clickOptionOnNav(2)">Noticias</li>
                                        <li ng-click="clickOptionOnNav(3)">Biografía</li>
                                        <li ng-click="clickOptionOnNav(4)">Galería</li>
                                        <li ng-click="clickOptionOnNav(5)">Contacto</li>
                                        <div class="bottom-highlighting-nav hidden-xs"></div>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <section id="main" class="main">
            <div id="news-section">
                <div class="section-title">
                    <div class="container">
                        <h2>Noticias</h2>
                    </div>
                </div>
                <div class="section">
                    <div class="container" ng-include="'app/components/news/news.html'"></div>
                </div>
            </div>

            <div id="bigraphy-section">
                <div class="section-title">
                    <div class="container">
                        <h2>Biografía</h2>
                    </div>
                </div>
                <div class="section">
                    <div class="container" ng-include="'app/components/biography/biography.html'"></div>
                </div>
            </div>

            <div id="gallery-section">
                <div id="gallery-section-title" class="section-title">
                    <div class="container">
                        <h2>Galería</h2>
                    </div>
                </div>
                <div class="section">
                    <div class="container" ng-include="'app/components/gallery/gallery.html'"></div>
                </div>
            </div>

            <div id="contact-section">
                <div id="contact-section-title" class="section-title">
                    <div class="container">
                        <h2>Contacto</h2>
                    </div>
                </div>
                <div class="section">
                    <div class="container" ng-include="'app/components/contact/contact.html'"></div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container-fluid separator-line"></div>
            <div id="body-footer" class="container">
                Footer
            </div>
        </footer>
    </body>
</html>