/** VARS **/

/** COLORS **/
$mainColor: #151515;
$secondaryColor: #FF8000;
$secondaryColorLight: #FFC846;

$bgSectionTitle: #000000;
$bgSection: #FEEBC0;

//Others:
// Light blue: #a7c1fd

// Blue: #007fff
// Green: #00ff80
// Purple: #8000ff
/** COLORS **/

/** HEADER VARS **/
$totalMenuOptions: 5;
/** HEADER VARS **/